<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Polaris.Properties.Settings.polarisConnectionString"
            connectionString="Driver={MySQL ODBC 8.0 Unicode Driver};server=localhost;database=polaris;user=root;password=password;option=3"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>